.jumbotron {
	background-image: url("../img/brighton.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
h3, h4 {
	font-family: arial;
	text-align: center;
}
body {
	background-color: rgba(91, 192, 222, 0.11);
}
.navbar {
	background-color: rgba(91, 192, 222, 0.11);
	font-family: arial;
}