h4 {
	color: rgb(2, 117, 216);
}
body {
	background-color: rgba(128, 128, 128, 0.15);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}
.description {
	background-image: url("../img/pattern.jpg"); 
	background-position: center;
	background-size: 400px;
	background-repeat: no-repeat;
}
.card {
	background-color: white;
}
.card-footer {
	font-size: 100px; 
}