h4 {
	color: rgb(2, 117, 216);
}
body {
	background-color: rgba(91, 192, 222, 0.11);
	font-family: arial;
	font-size: 18px;
}
.description {
	background-image: url("../img/pattern.jpg"); 
	background-position: center;
	background-size: 400px;
	background-repeat: no-repeat;
}
.card {
	background-color: white;
}
.card-footer {
	font-size: 25px; 
}
.fa-twitter {
	padding-left: 10px;
}
.fa-instagram {
	padding-left: 10px;
}
.navbar {
	background-color: rgba(91, 192, 222, 0.11);
	font-family: arial;
}